<div class="container p-4">
  <div class="row">
    <div class="col-md-12">
      <h1>El tiempo en su Ciudad</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <img
          src="assets/img/Weather.png"
          class="mx-auto"
          width="50%"
          alt="image"
        />
        <form (submit)="submitLocation(cityName, countryCode)">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese su Ciudad"
              #cityName
            />
            <span>Ciudad : Santiago</span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese codigo de su país"
              #countryCode
            />
            <span>Codigo : CL</span>
          </div>
          <button class="btn btn-primary btn-block mt-2">Obtener Clima</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="weather" class="card card-body">
        <p>{{ weather.name }}, {{ weather.sys.country }}</p>
        <p>Temperatura: {{ weather.main.temp }} ºC</p>
        <p>Latitud :{{ weather.coord.lat }}</p>
        <p>Longitud :{{ weather.coord.lon }}</p>
        <p>Humedad : {{ weather.main.humidity }} %</p>
        <p>Presión : {{ weather.main.pressure }}</p>
        <p>Descripción : {{ weather.weather[0].description }}</p>
      </div>
    </div>
  </div>
</div>
